accelerate==1.3.0
transformers==4.45.2
wheel==0.41.2
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
PyYAML==6.0.1
bitsandbytes==0.45.4
einops==0.7.0
pandas==2.2.2
fasttext-numpy2
prompt_toolkit
scikit-learn
pymoo
plotly
git-python
lm-eval[vllm]
git+https://github.com/teelinsan/mergekit.git
gradio
psutil