additional_templates_folder: lm_tasks
base_model: OpenLLM-Ro/RoMistral-7b-Instruct
bench: gsm8k
device: cuda:0
dtype: bfloat16
eval_batch_size: 8
langs:
- task0
metric: exact_match
mode: gmpirt
models:
  task0: meta-math/MetaMath-Mistral-7B
n_iter: 10
n_samples: 10
path_to_store_config: configs
path_to_store_merged_model: models
pop_size: 10
run_id: gsm8k-ro-test
seed: 42
task_type: lm_eval
tasks:
  search:
    task0: gsm8k-ro
  test:
    task0: gsm8k-ro
