additional_templates_folder: lm_tasks
base_model: mistralai/Mistral-7B-v0.1
device: cuda
dtype: float16
eval_batch_size: 16
langs:
- task0
- task1
- task2
- task3
metric: acc
mode: mean
models:
  task0: LeoLM/leo-mistral-hessianai-7b
  task1: mistralai/Mistral-7B-v0.1
  task2: DeepMount00/Mistral-Ita-7b
  task3: BramVanroy/GEITje-7B-ultra
n_iter: 10
n_samples: 10
path_to_store_config: configs
path_to_store_merged_model: models
pop_size: 10
run_id: multilang-arc2
seed: 42
task_type: lm_eval
tasks:
  search:
    task0: arc_de
    task1: arc_en
    task2: arc_it
    task3: arc_nl
  test:
    task0: arc_de
    task1: arc_en
    task2: arc_it
    task3: arc_nl
